<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
     <script type="text/javascript" src="app.js"></script>
     <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body ng-app>
    <div ng-controller="mainController as main">
      <form>
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password"
        placeholder="password">
        <button ng-click="authorise(username, password)">Login</button>
      </form>
    </div>
  </body>
</html>